{% extends "layout.html" %}
{% block body %}
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="EducatTutotrial"
  agent-id="22fb3c20-0c13-40a4-ad8d-e5a7efb2386e"
  language-code="en">
</df-messenger>
<script src="{{url_for('static', filename='navigation.js')}}"></script>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Practice</h1>
        <p class="lead">Practice questions.</p>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Educat</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        <li class="nav-item active">
            <a  href="/student_dashboard" class="nav-link">Student Dashboard</a>
        </li>
        <li class="nav-iterm active">
            <a  href="/logout" class="nav-link"value="LOGOUT" name="LOGOUT">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="body">
    <form style="text-align:center; color:#ffffff;" method="post" action="{{url_for('display_question')}}">
      <div style="font-size: 40px;">
        <p >{{question}}</p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="{{option1}}" checked>{{option1}}
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="{{option2}}">{{option2}}
            <label class="form-check-label" for="radio2"></label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio3" name="optradio" value="{{option3}}">{{option3}}
            <label class="form-check-label"></label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio4" name="optradio" value="{{option4}}">{{option4}}
            <label class="form-check-label"></label>
          </div>
          <input type="hidden" name="hiddenfield" value="{{answer}}" />
          <input type="hidden" name="lessonid" value="{{lessonid}}" />
          <input type="hidden" name="person" value="student">
          </div>
        <input class="btn-login" style="margin: 20px; font-size: 30px" type="submit" value="PREVIOUS" name="PREVIOUS"/>
        <input class="btn-login" style="margin: 20px; font-size: 30px" type="submit" value="NEXT" name="NEXT"/>
        
    </form>
  </div>

{% endblock %}